table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  
  th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #007BFF;
    color: white;
  }
  
  .status-online {
    color: green;
    font-weight: bold;
  }
  
  .status-offline {
    color: red;
    font-weight: bold;
  }
  .btn-edit {
    background-color: #ffc107;
    color: #000;
  }
  
  .btn-delete {
    background-color: #dc3545;
    color: white;
  }
  
  .btn-edit:hover {
    background-color: #4edf5a;
  }
  
  .btn-delete:hover {
    background-color: #cf3e4c;
  }