* {
    margin: 0px;
    padding: 0px;
}

.table-wrapper {
    height: 93vh;
    min-height: fit-content;
}

.out-wrapper {
    max-width: 50%;
    margin-top: 20px;
    margin-left: 35%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #47ca6b;
    color: #ffffff;
    padding: 8px;
    border: none;
}

button:hover {
  background-color: #45a049;
}

.side {
    float: left;
}

.sidebar {
    background-color: #f8f9fa;
    width: 20%;
    height: auto;
    border: 1px solid;
}

#LoaiHD {
    margin-top: 20px;
    margin-left: 5%;
}

.one-row p {
    display: inline-block;
}

